body {
  font-family: sans-serif;
  background-image: url("https://lh3.googleusercontent.com/XpOgKIwa5xclaCZ5bjqIruhKvBUQE_to9uVY9o5A2mRHFw00mvYl287VLCZ4Vus=s2600");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(42, 51, 84);
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  margin: 0 0 10px;
  font-size: 32px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

#search {
  background: rgba(255, 255, 255, 0.6);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.6);
  border-radius: 10px;
  color: rgb(6, 6, 16);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  font-size: 19px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  margin: 60px 0;
}

a {
  color: rgb(42, 51, 84);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
